<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Tests Suite" parallel="classes" thread-count="16">
    <test name="All Tests Suite 1" >
        <packages>
            <package name="testsLoginLogout.*"/>
            <package name="testsFunctions.*"/>
        </packages>
    </test> <!-- Test -->

    <test name="All Tests Suite 2" >
        <packages>
            <package name="testsLoginLogout.*"/>
            <package name="testsFunctions.*"/>
        </packages>
    </test> <!-- Test -->

    <test name="All Tests Suite 3" >
        <packages>
            <package name="testsLoginLogout.*"/>
            <package name="testsFunctions.*"/>
        </packages>
    </test> <!-- Test -->
</suite> <!-- Suite -->